<!DOCTYPE html>
<html>
<head>
 
    <title>Home page</title>
    <link rel="icon" href="{{ url_for('static', filename='styles/image/unnamed.png')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css')}}"/>
</head>
<body>
    <div class="header">
        <table>
            <th><img src="static/styles/image/unnamed.png"  width="50" height="50"></th>
            <th><span>HCMC University of Technology and Education <br> FACULTY FOR HIGH QUALITY TRAINING</span></th>
        </table>
    </div>
    <nav>
        <ul>
            <li><a href="home.html">HOME</a></li>
            <li><a href="introduction.html">INTRODUCTION</a></li>
        </ul>
    </nav>

    <h1 class="header_hero">Interactive Mirror</h1>
    
    <section>
        <div class="body">
            <a href="{{ url_for('show_html') }}"><img src="static/styles/image/Image3.jpg" alt="option"></a>
            <h1>Welcom to Our Project</h1>
            <p>Project is ....blabla</p>
            <button class="button" onclick="document.location='config.html'">Try it</button>
        </div>
        <div class="body">
            <a href="config.html"><img src="static/styles/image/Image3.jpg"" alt="option"></a>
            <h1>Welcom to Our Project</h1>
            <p>Project is ....blabla</p>
            <button class="button" onclick="document.location='config.html'">Try it</button>
        </div>
    </section>
</body>
</html>