<!DOCTYPE html>
<html>
<head>
    <title>Show skeleton and pointcloud</title>
    <link rel="icon" href="{{ url_for('static', filename='styles/image/unnamed.png')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/show.css')}}"/>
</head>
<body>
    <div class="header">
        <table>
            <th><img src="static/styles/image/unnamed.png"  width="50" height="50"></th>
            <th><span>HCMC University of Technology and Education <br> FACULTY FOR HIGH QUALITY TRAINING</span></th>
        </table>
    </div>
        <nav>
        <ul>
            <li><a href="home.html">HOME</a></li>
        </ul>
    </nav>

    <div class="bigbody">
        <div class="body">
            <h3>Skeleton</h3>
            <img src="static/styles/image/Image3.jpg" alt="option">
            <p>Project is ....blabla</p>
        </div>
        <div class="body">
            <h3>Poincloud</h3>
            <img src="static/styles/image/Image3.jpg" alt="option">
            <p>Project is ....blabla</p>
        </div>
    </div>
   

</body>
</html>