body {
    background-image: url("universe.jpg");
    width: 100%;
    height: 100%;
}
div.header{
    font-family: "Times New Roman", Times, serif;
    color: rgb(32, 156, 13);
    width: 200;
    margin: 25px 75px 10px 75px;
    border: 1px solid white;}
.img{
    text-align: center;
    color: aliceblue;}
